.root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  flex-direction: column;
}

.input {
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  font-size: 18px;
}

.error {
  color: red;
}

.btn {
  margin-top: 25px;
}

.btn:disabled {
  background: #dddddd;
  box-shadow: none;
}

@media screen and (max-width: 520px) {
  .input {
    width: 80%;
  }
}
