.root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
}
.container {
  min-width: 35%;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 30px 20px;
}

.heading {
  text-align: center;
  margin: 0;
}

.buttonRoot {
  display: flex;
  margin: 30px 0;
  justify-content: space-between;
}

.inputRoot {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.totalText {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 5px;
}
