.wrapTextIntoThreeLines {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box !important;
  white-space: normal;
}

.addBtn {
  padding: 13px 30px;
  color: #fff;
  border: none;
  background-color: green;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
